body{
  background-color: #ddd;
}

.App {
  text-align: center;
  color: gray;
  display: flex;
  .left{
    
    flex: 1;
    border-right: 1px solid #333;
    border-top: 1px solid #333;
    .logo{
     margin-top: 10px;
     border-bottom: 1px solid #333;
     padding-bottom: 10px;
     height: 30px;
    }
    
  }

  .container{
    flex: 6;
    
  }
  
}

